In [40]:
import csv
with open("Holiday_Destination.csv", "w+") as file:
    writer = csv.writer(file)
    writer.writerow(['NUMBER', 'NAME', 'DESTINATION', 'FEEDBACKS', 'STAR RATINGS\n /10', 'ALL-INCLUSIVES','CITY'])
    writer.writerow([1, 'Inn', 'UK', 9, 5, 200, 'London'])
    writer.writerow([2, 'Miles', 'Ivory Coast', 7, 4, 99,'Abidjan'])
    writer.writerow([3, 'Bal', 'UK', 8, 5, 180, 'Birmingham'])
    writer.writerow([4, 'SamSam', 'UK',9, 4, 190, 'Isle Of Wight'])
    writer.writerow([5, 'Lunes', 'Ivory Coast', 8, 3, 168, 'Yamoussoukro'])
    writer.writerow([6, 'Lustres', 'UK', 9, 4, 100, 'Wolverhampton'])
    writer.writerow([7, 'Crepuscule', 'France', 5, 2, 250, 'Paris'])
    writer.writerow([8, 'Ciel', 'France', 8, 4, 220, 'Marseille'])
    writer.writerow([9, 'Sinai', 'France', 10, 5, 75, 'Lille'])
    writer.writerow([10, 'Tides', 'Ivory coast', 5, 2, 55, 'Toumodi'])
    writer.writerow([11, 'Vale', 'Spain', 9, 5, 133, 'Madrid'])
    writer.writerow([12, 'Lake', 'Spain', 7, 0, 300, 'Barcelona'])
    writer.writerow([13, 'Flare', 'Italy', 4, 2, 158, 'Milan'])
    writer.writerow([14, 'Gates', 'Ghana', 9, 5, 50, 'Accra'])
    writer.writerow([15, 'Pamela', 'Italy', 7, 1, 146, 'Venice'])

<_csv.writer object at 0x000001AC99D543B0>